<body>

    <aside>
        <div class="flex_col side_nav">

            <div class="close_nav_container">
                <div class="flex_row_center_all dash_close_nav">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="dashboard_logo">
                <img src="/images/logo.png" alt="">
            </div>
            <div class="dashboard_links">
                <a href="/recruiters/dashboard" class="<%= view == 'dashboard' ? 'active' : ''%>">
                    <i class="fab fa-buromobelexperte" aria-hidden="true"></i> Dashboard
                </a>
                <a href="/recruiters/post-a-job" class="<%= view == 'post-a-job' ? 'active' : ''%>">
                    <i class="far fa-file-alt" aria-hidden="true"></i> Post a Job
                </a>
                <a href="/recruiters/created-jobs" class="<%= view == 'created-jobs' ? 'active' : ''%>">
                    <i class="far fa-copy" aria-hidden="true"></i> Created Jobs
                </a>

                <a href="/recruiters/upgrade-plan" class="<%= view == 'upgrade-plan' ? 'active' : ''%>">
                    <i class="fa fa-line-chart" aria-hidden="true"></i> Upgrade Plan
                </a>

                <% if(data.plan_type == 6){  %>
                    <a href="/recruiters/assessments" class="<%= view == 'assessments' ? 'active' : ''%>">
                        <i class="fas fa-chalkboard-teacher" aria-hidden="true"></i> Assessments
                    </a>

                    <a href="/recruiters/talent-pool" class="<%= view == 'talent-pool' ? 'active' : ''%>">
                        <i class="fas fa-users" aria-hidden="true"></i> Talent Pool
                    </a>

                    <a href="/recruiters/saved-candidates" class="<%= view == 'saved-candidates' ? 'active' : ''%>">
                        <i class="far fa-heart" aria-hidden="true"></i> Saved Candidates
                    </a>

                    <a href="/recruiters/interviews" class="<%= view == 'interviews' ? 'active' : ''%>">
                        <i class="far fa-comments" aria-hidden="true"></i> Interviews
                    </a>
                    <% } %>

                        <a href="/recruiters/settings" class="<%= view == 'settings' ? 'active' : ''%>">
                            <i class="fas fa-cog" aria-hidden="true"></i> Settings
                        </a>
                        <a href="/auth/logout">
                            <i class="fas fa-sign-out-alt" aria-hidden="true" style="color: red;"></i> Logout
                        </a>
            </div>
        </div>
    </aside>